<nav class="absolute top-0 w-full z-20 px-6 py-4 flex items-center justify-between text-white">

  <!-- LOGO -->
  <div class="flex items-center gap-3">
    <img src="https://i.pinimg.com/736x/ef/f9/30/eff930e164d392cc2cef65c342813932.jpg"
      class="w-12 h-12 rounded-xl border-2 border-blue-400 object-cover">
    <span class="font-bold text-lg hidden md:block">AnimeWorld</span>
  </div>

  <!-- MENU DESKTOP -->
  <div class="hidden md:flex items-center gap-8 font-semibold">
    <a routerLink="/principal" class="hover:text-blue-400 transition">Inicio</a>
    <a routerLink="/comic-on" class="hover:text-blue-400 transition">Comic-On</a>
    <a routerLink="/funko-pop" class="hover:text-blue-400 transition">Funko Pop</a>
  </div>

  <!-- BOTÓN MOBILE -->
  <button (click)="visible4 = true" class="md:hidden text-2xl">
    ☰
  </button>

</nav>

<p-drawer
  header="Menu"
  [(visible)]="visible4"
  position="bottom"
  appendTo="body"
  [baseZIndex]="20000"
  [modal]="true"
  [style]="{ height: 'auto' }">

  <div class="flex flex-col gap-4 mt-4">

    <!-- ITEM -->
    <a routerLink="/principal"
       (click)="toggleMenu()"
       class="flex items-center gap-4 p-3 rounded-xl bg-white/5 hover:bg-white/10 transition group">

      <img src="https://i.pinimg.com/736x/a9/a3/66/a9a3667ab3e5b60f00377c035f629eb0.jpg"
           class="w-12 h-12 rounded-xl object-cover">

      <div class="flex flex-col">
        <span class="font-semibold text-lg">Inicio</span>
        <span class="text-sm text-gray-400">Página principal</span>
      </div>

      <span class="ml-auto opacity-0 group-hover:opacity-100 transition">→</span>
    </a>

    <!-- ITEM -->
    <a routerLink="/comic-on"
       (click)="toggleMenu()"
       class="flex items-center gap-4 p-3 rounded-xl bg-white/5 hover:bg-white/10 transition group">

      <img src="https://i.pinimg.com/736x/dc/f9/cf/dcf9cf4361b5c81b1f4749ee9873b7a9.jpg"
           class="w-12 h-12 rounded-xl object-cover">

      <div class="flex flex-col">
        <span class="font-semibold text-lg">Comic-On</span>
        <span class="text-sm text-gray-400">Eventos y cultura geek</span>
      </div>

      <span class="ml-auto opacity-0 group-hover:opacity-100 transition">→</span>
    </a>

    <!-- ITEM -->
    <a routerLink="/funko-pop"
       (click)="toggleMenu()"
       class="flex items-center gap-4 p-3 rounded-xl bg-white/5 hover:bg-white/10 transition group">

      <img src="https://i.pinimg.com/736x/57/30/2c/57302c0749f86843295d8c1d5759a814.jpg"
           class="w-12 h-12 rounded-xl object-cover">

      <div class="flex flex-col">
        <span class="font-semibold text-lg">Funko Pop</span>
        <span class="text-sm text-gray-400">Coleccionables</span>
      </div>

      <span class="ml-auto opacity-0 group-hover:opacity-100 transition">→</span>
    </a>

  </div>

</p-drawer>
